/* Coolors Exported Palette - coolors.co/593231-eacece-a89b9a-826261-b28887 */

/* HSL */
$color1: hsla(2%, 29%, 27%, 1);
$color2: hsla(0%, 40%, 86%, 1);
$color3: hsla(4%, 7%, 63%, 1);
$color4: hsla(2%, 15%, 45%, 1);
$color5: hsla(1%, 22%, 61%, 1);

/* RGB */
$color1: rgba(89, 50, 49, 1);
$color2: rgba(234, 206, 206, 1);
$color3: rgba(168, 155, 154, 1);
$color4: rgba(130, 98, 97, 1);
$color5: rgba(178, 136, 135, 1);