@import "variables";

/* MENU PRINCIPAL */
nav 
{
	a
	{
		padding: .5em;
		position: relative;
		display: inline-block;
		&::before
		{
			content:'';
			position: absolute;
			left: 0px;
			top: 100%;
			height: 1px;
			width: 0%;
			background-color: $menuColorHoverBorder;
			transition: all .5s;
		}
		&:hover
		{
			animation: 1s linear .5s forwards menu;
			&::before, &::after
			{
				width: 100%;
			}
		}
		&::after
		{
			content:'';
			position: absolute;
			right: 0%;
			top: 0%;
			height: 1px;
			width: 0%;
			background-color: red;
			transition: width .5s;
		}
	}
}
#logo
{

    font-family: 'Lobster', cursive;
    font-weight: 400;
}

/* --------------------------------- */
#main
{
	margin: 0 auto;
	padding: 0 1em;
	max-width: 100%;
	text-align: center;
}

/* SOCIAL */
footer
{
	a.social
	{
		margin: 0 1em;
		span
		{
			transition: all 2s;		
			&:hover
			{
				color: rgba(178, 136, 135, 1);
				animation-name: social;
    			animation-duration: 1s;
    			animation-timing-function: linear;
    			animation-iteration-count: infinite;
    			animation-direction: alternate;	
			}
		}
	}
}

footer
{
	a#backHome
	{
		margin-left: 3em;
		span
		{
			&:hover
			{
				color: rgba(178, 136, 135, 1);
				animation-name: backHome;
			    animation-duration: 1s;
			    animation-timing-function: linear;
			    animation-iteration-count: infinite;
			    animation-direction: alternate;				
			}
		}
	}
}

/* Liens Particuliers */
	/* Page Accueil */
.becode
{
	padding: 0.5em;
	background-color: $becodeColorBg;
	color: white;
	border-radius: 50%;
	border:2px solid $becodeColorBorder;
	transition: all 1s;
	&:hover
	{
		border: 2px solid $becodeColorBg;
		background-color: $becodeColorBorder;
		color: $becodeColorBg;
	}
}
	/* Page Entreprise */
#entreprise
{
	h2
	{
		background-image: none;
		a
		{
			padding: .25em;
			border-radius: 5px;
			background-color: #4B4A4A;
			color: white;
			transition: all .5s;
			&:hover
			{
				background-color: black;
				color: #ABC738;
			}
		}
	}
}
	/* PAGE INTERVIEW */
#interview
{
	h1
	{
		text-align: right;
	}
	h2
	{
		background-image: $titreColorBgDroite;
		margin-bottom: 1em;
		text-align: left;
	}
	#main
	{
		p
		{
			margin-bottom: 1em;
			text-align: left;
			font-weight: 600;
		}
		.reponses
		{
			padding-left: 1em;
			font-weight: 400;			
		}
	}
	section
	{
		padding-bottom: 1em;
		border-bottom: solid 2px rgba(0, 0, 0, .2);
		&:last-child
		{
			border-bottom: none;
		}		
	}
}