$titreFont: 'Josefin Slab', serif;
$paragrapheFont: 'Raleway', sans-serif;
$logoFont: 'Lobster', cursive;
$lienColor: black;
$menuColor: pink;
$ombres: 0px 1px 3px rgba(10, 0, 30, .5);
$titreBgCentre: linear-gradient(to right, rgba(255, 192, 203, 0),  rgba(255, 192, 203, .7) 33%,  rgba(255, 192, 203, .7) 66%, rgba(255, 192, 203, 0));